@import url("https://use.typekit.net/xbg7zzr.css");


/* Sitewide */
:root {
    --primary-color: #4B4B4B;
}

html{
    scroll-behavior: smooth;
}

*:focus {
    outline: none !important;
}

body {
    font-family: 'Europa', 'Avenir Next', sans-serif;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: var(--primary-color-faded)
}

.mt-10 {
    margin-top: 5rem !important;
}

.card {
    border-radius: 0;
}

.testimonials,
.portfolio {
    max-width: 1300px;
    margin: 0 auto;
}

.navbar {
    background-color: var(--primary-color);
    word-wrap: break-word;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
}

.navbar a {
    color: #fff !important;
    transition: 0.2s;
}

.navbar a:hover {
    cursor: pointer;
}

.navbar .dropdown-menu {
    background-color: var(--primary-color);
}

.navbar .dropdown-item:hover {
    color: var(--primary-color);
}

.navbar .navbar-toggler {
    color: #fff;
    z-index: 5;
}

.navbar a:hover {
    color: #bbb;
}

.navbar-brand img {
    width: 75%;
    color: #fff;
}

.btn-primary {
    background-color: var(--primary-color);
    outline: none;
}

/* Landing Page */
.hero {
    margin-left: 50%;
    margin-top: 7rem;
    transform: translateX(-50%);
    padding: 5rem;
    width: 100%;
    max-width: 1300px;
    opacity: 1;
    background-color: rgba(200,200,200,0.8);
}
.hero img.logo{
    max-width: 30rem;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
}

.hero-bg {
    background-image: url("../img/portfolio/thornhill/front.jpg");
    background-size: cover;
    background-position: center;
    /* opacity: 0.6; */
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
}

.hero .lead {
    color: black;
}

.home-carousel {
    height: 90vh;
    width: 100vw;
    margin-top: 0;
    position: absolute;
}

/* .home-carousel .controls {
    margin-top: 50%;
}

.home-carousel .left img{
    transform: rotate(270deg);
    position: absolute;
    left: 1rem;
}

.home-carousel .right img{
    transform: rotate(-270deg);
    position: absolute;
    right: 1rem;
} */

/* Testimonials Page */
.testimonials .card {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem 1rem;
    width: 100%;
}

.testimonials .card .card-text {
    font-weight: lighter;
}


/* Contact Page */
.form-control:focus {
    outline: none;
}

.contact-form {
    max-width: 500px;
    margin-top: 50%;
    transform: translateY(-50%);
}

.contact-form h1 {
    font-weight: bold;
}

.contact-form h5 {
    font-weight: lighter;
}

.contact-form .input-group {
    margin-bottom: 2rem;
}

.contact-form .input-group input,
.contact-form .input-group-text {
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid var(--primary-color)
}

.contact-form .input-group-text {
    background-color: #fff;
    border-right-color: #fff;
}

.contact-form input {
    border-left: none;
}

.contact-form textarea {
    border: none;
    border-bottom: 2px solid var(--primary-color);
}

.google-map {
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
}

/* Service Page */
.services button.service-dropdown {
    background-color: var(--primary-color);
    padding: 1.5rem;
    border: none;
    width: 100%;
    color: #fff;
    outline: none;
    position: relative;
}

button.service-dropdown img {
    right: 4rem;
    top: 50%;
    width: auto;
    transform: translateY(-50%);
    position: absolute;
    display: inline-block;
}

.service-dropdown span:nth-child(1) {
    margin-right: 3rem;
}

.collapse .card,
.collapsing .card {
    background-color: var(--primary-color);
    border: none;
    border-radius: 0;
    color: #fff;
}

/* .services .service-picture {
    width: 100%;
} */

.services {
    margin: 0 auto;
    margin-top: 10vh;
}

.services section {
    margin-bottom: 5rem;
}

.services .headers {
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    padding: 0.8rem 0;
}

.services .slick-next:before, 
.services .slick-prev:before {
    color: #000;
}

.services .slick-next {
    right: 5px;
}

.services .slick-prev {
    left: 5px;
}

.services .container {
    margin-top: 5rem;
}

.services img {
    width: 100%;
}

.portfolio .card {
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    padding: 3rem;
}

.portfolio .card-title {
    font-weight: bold;
    margin-left: 2.4rem;
}

.portfolio .card-text:nth-child(1) {
    font-weight: lighter;
}

/* Small Breakpoint */
@media (max-width: 768px) {
    .contact-form {
        margin-top: 0;
        transform: none;
    }

    h1 {
        font-size: 2rem;
    }
    .hero {
        padding: 2rem;
    }
    .hero .lead {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) {
    .portfolio .card-header {
        margin-top: 3rem;
    }
}

/* Visual Glitches */
@media (max-width: 1350px) {
    .google-map {
        width: 100%;
        margin: 0;
        left: 0;
        transform: none;
    }
}
@media (max-width: 860px) {
    .navbar {
        font-size: 0.8rem;
    }

    .portfolio .card {
        padding: 1rem;
    }

    .portfolio .card-body {
        padding-left: 0;
        padding-right: 0;
    }
    /* .services .header-carousel span {
        display: none;
    } */
}

@media (max-width: 450px) {
    .navbar-brand {
        width: 50vw;
    }
    button.service-dropdown img {
        right: 0.75rem;
    }
}

@media (max-width: 538px) {
    .service-dropdown {
        font-size: 0.8rem;
    }
    .collapse,
    .collapsing {
        font-size: 0.8rem;
    }
}


@media (max-height: 768px) {
    .services .headers {
        margin-top: 5rem;
    }
}